.layoutContact {
  padding: 2rem 8rem;
  margin: 5rem auto;
  width:100%;
  max-width:$maxWight;

  @include respond($bp-medium){
    padding: 2rem 5rem;
    margin: 2rem auto;
  }

  @include respond($bp-small){
    padding: 1rem 2rem;
    margin: 3rem auto;
  }

  &-Box{
    background-color: $color-primary;
    height: 25vh;
    display: flex;
    align-items: center;

    @include respond($bp-medium){
        font-size: 1.4rem;
        @include whSize(100%,16vh);
    }

    @include respond($bp-small){
      @include whSize(100%,13vh);
    }
    
    &-left {
      display: flex;
      justify-content: center;
      align-items: center;
      background-image: url("../../images/LayoutContact/contactLeft.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      height: 25vh;
      width:78%;
      padding-right: 10rem;

      @include respond($bp-medium){
        @include whSize(70%,16vh);
      }

      @include respond($bp-small){
        @include whSize(70%,13vh);
        padding-left: 2rem;
        padding-right: 3rem;
      }

      & p{
        width:40%;
        color:$color-primary;
        font-size: 2.6rem;
        font-weight: 700;
        line-height: 46px; 

        @include respond($bp-medium){
          font-size: 2rem;
          width:60%;
          line-height: 2.5rem; 
        }

        @include respond($bp-small){
          font-size: 1.4rem;
          width:100%;
          line-height: 1.6rem; 
        }
      }
    }

    &-right{
      padding-left: 2rem;

      @include respond($bp-medium){
        padding-left: 1rem;
      }

      @include respond($bp-small){
        padding-left: 1rem;
        padding-right: 1rem;
      }

      &-button{
        background-color: $color-tertiary;
        display: flex;
        padding: 2rem 3rem;
        align-items: center;
        gap: 8px;
        text-decoration: none;
        color:$color-primary;
        font-size: 2rem;
        font-weight: bold;
        border-radius: 1rem;

        @include respond($bp-medium){
          font-size: 1.6rem;
        }
        @include respond($bp-small){
          padding: 1rem 1rem;
          font-size: 1rem;
        }
      }
    }
  }




}
