.profileContainer {
  max-width: 144rem;
  margin: 0 auto;
  padding: 8rem 8rem 0rem 8rem;

  @include respond($bp-small) {
    padding: 2rem 2rem 1rem;
  }

  & h1 {
    font-size: 3.6rem;
    color: $color-primary;
  }

  &-Layout {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 3rem 0;

    @include respond($bp-medium) {
      flex-direction: column;
    }

    & .profileNav {
      display: flex;
      flex-direction: column;
      width: 15%;
      margin-right: 5%;

      @include respond($bp-medium) {
        flex-direction: row;
        width: 100%;
      }

      &-item {
        font-size: 2rem;
        text-decoration: none;
        color: $color-primary;
        line-height: 3rem;
        display: block;
        padding: 1.5rem 0;
        width: 100%;
        text-align: center;

        &-active {
          font-weight: bold;
          border-right: 0.1rem solid $color-gray;

          @include respond($bp-medium) {
            border-right: none;
            border-bottom: 0.1rem solid $color-gray;
            padding: 1rem 0;
            margin: 1rem 0;
          }
        }
      }
    }

    &-profileSection {
      position: relative;

      &:nth-child(2) {
        width: 100%;
        min-height: 40vh;
        height: auto;
      }

      &-information {
        padding: 5rem 0;
        display: flex;
        justify-content: flex-start;
        border-bottom: 1px solid #dfdcfc;

        @include respond($bp-small) {
          flex-direction: column;
          align-items: center;
        }
        
        &-avatar {
          width: 30rem;
          height: auto;

          &-img {
            width: 100%;
            height: 100%;
          }
        }

        &-info {
          padding: 0 5rem;
          display: flex;
          flex-direction: column;
          color: $color-primary;

          & p:first-child {
            font-size: 2.4rem;
            font-weight: bold;
          }

          & p:last-child {
            font-size: 2rem;
          }
        }
      }

      & .transactionContainer {
        &-typeWrap {
          @include flexCenter();

          & .typeItem {
            flex: 1;
            padding: 2rem 3rem;
            text-align: center;
            background-color: $color-gray;
            color: $color-white;
            cursor: pointer;
            font-size: 1.6rem;
            transition: 0.3s;

            &-active {
              background-color: $color-primary;
            }
          }
        }

        // render transaction record
        & .recordWrap {
          min-height: 51vh;
          height: auto;
          // padding: 1.5rem 0;

          &-item {
            padding: 2rem 0;
            @include flexCenter();
            justify-content: space-around;
            border-bottom: 1px solid $color-gray;
            cursor: pointer;

            @include respond($bp-small) {
              flex-direction: column;
              align-items: flex-start;
            }

            &-subItem {
              width: 100%;

              &:first-child {
                align-self: flex-start;
              }

              &:last-child {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: flex-end;
              }

              & .flexRow {
                display: flex;
                flex-direction: row;
                padding: 0.3rem 0;

                & p {
                  font-size: 1.6rem;

                  &.bookingReference {
                    font-weight: bold;
                  }
                }

                & p:nth-child(2) {
                  padding-left: 1rem;
                }
              }
            }
          }
        }

        & .paginationWrap {
          width: 100%;
          padding: 3rem 0;
          @include flexCenter();

          & .MuiPaginationItem-page {
            font-size: 1.6rem !important;
          }
        }
      }
    }
  }
}
