.productContainer {
  margin: 0rem auto;

  &-selectionContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    transition: 1s;
    @include boxShadow(0px, 1px, 2px, 0px, rgba(0, 0, 0, 0.17));

    @include respond($bp-medium) {
      padding: 3rem 5rem;
    }

    @include respond($bp-small) {
      padding: 2rem 2rem 1rem;
    }

    &-selectionsRow {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      width: 100%;
      max-width: $maxWight;
      margin: 0rem auto;
      padding: 3rem 8rem;
      transition: 1s;

      @include respond($bp-medium) {
        flex-direction: column;
      }

      @include respond($bp-medium) {
        padding: 0;
      }

      &-types {
        display: flex;
        flex-direction: row;
        transition: 1s;

        @include respond($bp-small) {
          justify-content: space-around;
          flex-wrap: wrap;
        }

        &-Container {
          width: 15rem;
          margin-right: 1.5rem !important;
          transition: 1s;

          &:last-child {
            margin-right: 0 !important;
          }

          &:nth-child(2),
          &:nth-child(3) {
            width: 7rem;
          }

          @include respond($bp-medium) {
            flex: 1;
            &:nth-child(2),
            &:nth-child(3) {
              flex:0;
              flex-basis: 7rem !important;
            }
          }
          @include respond($bp-small) {
            flex-basis: 31% !important;
            flex: 1;
            margin: 1rem 0.5rem 1rem 0 !important;
            transition: 1s;

            &:nth-child(3) {
              margin: 1rem 0rem 1rem 0 !important;
            }

            &:nth-child(4),&:nth-child(5){
              display: none;
            }
            
            &.showMore{
              display: flex;
            }
          }

          &-list {
            font-size: 1.4rem !important;

            @include respond($bp-small) {
              & .MuiOutlinedInput-input {
                padding: 1rem !important;
              }
            }

            &-item {
              font-size: 1.6rem !important;

              @include respond($bp-medium) {
                font-size: 1.4rem !important;
              }

              @include respond($bp-small) {
                font-size: 1.2rem !important;
              }
            }
          }
        }
      }

      &-datePicker {
        margin: 0rem 3rem;
        @include flexCenter();
        flex-direction: row;
        justify-content: space-around;
        transition: 1s;

        @include respond($bp-medium) {
          flex-basis: 100%;
          justify-content: center;
          margin: 2rem 0;
        }

        @include respond($bp-small) {
          flex-basis: 100%;
          margin: 1rem 0;
          justify-content: center;
          display: none;
        }
        &.showMore{
          display: flex;
        }
        
        & span {
          margin: 0 1rem;
          font-size: 1.6rem;
          flex: 1;

          @include respond($bp-medium) {
            flex: 0;
          }
        }

        &-item {
          flex: 1;

          @include respond($bp-medium) {
            flex: 2;
          }

          @include respond($bp-medium) {
            flex: 2;
            width: 2rem;
          }

          & input {
            padding: 1.5rem 2rem;
            font-size: 1.4rem;
            border-radius: 0.5rem;
            @include border-style(0.1rem, solid, $color-gray-light1);
            width: 15rem;

            &:focus {
              outline-color: $color-secondary;
            }

            @include respond($bp-medium) {
              width: 100%;
            }

            @include respond($bp-small) {
              padding: 1rem 2rem;
              width: 100%;
            }
          }
        }
      }
    }

    &-cards {
      width: 100%;
      max-width: $maxWight;
      margin: 0rem auto;
      padding: 3rem 8rem;

      display: grid;
      grid-gap: 2rem;
      grid-template-columns: repeat(auto-fit, 32%);

      @include respond($bp-medium) {
        padding: 3rem 6rem;
        grid-template-columns: repeat(auto-fit, minmax(32%, 48%));
      }

      @include respond($bp-small) {
        padding: 3rem 2rem;
        grid-template-columns: repeat(auto-fit, minmax(32%, 100%));
      }

      &-wrap{
        position: relative;
        display: grid;
        grid-template-columns: 100%;
        
        &-card {
          position: relative;
          @include boxShadow(0px, 2px, 20px, 0px, rgba(0, 0, 0, 0.1));
          border:0;
          background-color: $color-white;
          cursor: pointer;

          &:hover{
            @include boxShadow(0px, 2px, 20px, 0px, rgba(11, 46, 114, 0.3));
          }

          &-media {
            width: 100%;
            height: 21.4rem;
            max-height: 21.4rem;
            overflow: hidden;
            position: relative;
            &-img {
              width: 100%;
              position: absolute;
              top: -100%;
              left: 0;
              transform: translateY(15%);
            }
          }

          &-body {
            padding: 1.5rem 2rem;
            position: relative;

            &-topPart {
              text-align: left;
              & h1 {
                width: 95%;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                font-size: 1.8rem;
                line-height: 2.5rem;
              }

              & p {
                width: 95%;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                font-size: 1.6rem;
                line-height: 2.5rem;
              }
            }

            &-bottomPart {
              padding: 1.5rem 0;
              text-align: left;

              & h2 {
                width: 95%;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                font-size: 1.6rem;
                line-height: 2.5rem;
              }

              & p {
                width: 95%;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                font-size: 1.6rem;
                line-height: 2.5rem;
              }
            }
          }

          &-footer {
            padding: 0rem 2rem;
            text-align: left;

            &-container {
              padding-bottom: 1.5rem;
            }
          }
        }

        &-favorite {
          position: absolute;
          right: 1.5rem;
          top: 55%;
          z-index: 1;
        }
      }

    }
  }


  &-showMoreBtn{
    width:100%;
    height: 2rem;
    background-color: transparent;
    border: 0;
    display: none;

    @include respond($bp-small) {
      display: block;
    }

    &-icon{
      font-size: 3rem !important;
      color: $color-primary;
    }
  }

  &-paginationContainer{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
