.sign-container{
  @include whSize(100%,'auto');
  
  display: flex;
  flex-wrap: wrap;
  position: relative;

  &-area{
    flex: 1;

    &-image{
      @include whSize(100%,100%);
    }

    &:last-of-type{
      @include flexCenter();
      width:100%;
      flex-direction: column;
    }

    &-form{
      width:80%;

      @include respond($bp-medium){
        width: 90%;
      }

      &-inputBox{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width:100%;
        margin: 2rem auto;

        @include respond($bp-medium){
          margin: 1.5rem auto;
        }

        @include respond($bp-small){
          margin: 1rem auto;
        }

        & label{
          font-size: 2rem;
          color:$color-gray;

          @include respond($bp-medium){
            font-size: 1.8rem;
          }
          @include respond($bp-small){
            font-size: 1.4rem;
          }
        }

        & input{
          padding: 1.2rem;
          border-width: 0;
          background-color: $color-light-blue;
          font-size: 2rem;

          &:focus{
            outline-color: $color-secondary; 
          }

          @include respond($bp-medium){
            padding: 0.8rem;
            font-size: 2rem;
            @include border-style(2px, solid, $color-primary);
            border-radius: .5rem;
          }

          @include respond($bp-small){
            padding: 0.8rem;
            font-size: 1.4rem;
            @include border-style(1px, solid, $color-primary);
          }
        }

        & .error-text{
          color:$color-red;
          font-size: 1.4rem;
          line-height: 2rem;
          height: 1.2rem;

          @include respond($bp-small){
            font-size: 1.2rem;
          }
        }
      }
    }

    @include respond($bp-medium){
      flex:none;
      width:100%;

      &:last-of-type{
        background-color: rgba(255,255,255,0.9);
        @include whSize(70%,70%);
        border-radius: 1rem;
        @include absCenter();
      }
    }

    @include respond($bp-small){
      flex:none;
      width:100%;

      &:last-of-type{
        background-color: rgba(255,255,255,0.9);
        @include whSize(80%,90%);
        @include absCenter()
      }
    }

    & h1{
      color:$color-primary;
      font-size: 4rem;
      font-weight: bold;
      text-align: center;

      @include respond($bp-medium){
        font-size: 3rem;
      }

      @include respond($bp-small){
        font-size: 2rem;
      }
    }

    &-submitBtn{
      width:100%;
      padding: 1.5rem 3rem;
      margin: 2rem auto;
      background-color: $color-primary;
      color:$color-white;
      border-radius: .5rem;
      cursor: pointer;
      transition: .2s;

      @include respond($bp-small){
        padding: 0.8rem;
      }

      &:disabled{
        background-color: $color-gray;
      }
    }

    &-hint{
      text-align: center;
      font-size: 1.8rem;
      color:$color-gray;
      line-height: 2rem;

      @include respond($bp-small){
       font-size: 1.2rem;
      }

      & a{
        color:$color-secondary;
        text-decoration: none;

        &:hover{
          color:$color-secondary-light-1;
          font-weight: bold;
        }
      }
    }
  }

}