.successContainer{
  @include flexCenter();
  flex-direction: column;
  @include whSize(100%,auto);
  max-width: $maxWight;
  padding: 5rem 8rem;
  margin: 0 auto;

  @include respond($bp-small) {
    padding: 2rem 2rem 1rem;
  }

  &-successIcon{
    width: 45rem;
    height: 25rem;
    margin-bottom: 7rem;
    margin-right: 7rem;
  }

  & .pageTitle{
    font-size: 2vw;
    color: $color-primary;
    align-self: flex-start;
    margin-bottom: 2rem;

    @include respond($bp-small){
      font-size: 2rem;
    }
  }
  
  & .bookingReference{
    align-self: flex-end;
    font-size: 1.5vw;

    @include respond($bp-small){
      font-size: 1.6rem;
    }
  }

  & .section{
    @include border-style(0.1rem, solid, $color-primary);
    @include whSize(100%,auto);
    padding: 2.5rem;
    margin-bottom: 3rem;

    @include respond($bp-small){
      padding: 1.5rem;
    }
  }

  // booking detail
  & .bookingDetail{

    & h1{
      font-size: 2.2rem;
      color: $color-primary;
    }

    &-contentContainer {
      padding: 2rem 3rem 0rem 0;
      display: flex;
      flex-direction: column;

      @include respond($bp-medium){
        padding: 2rem 0 0;
      }

      @include respond($bp-small){
        padding: 2rem 0 0;
      }

      &-item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        & h2 {
          font-size: 1.8rem;
        }

        & p {
          font-size: 1.8rem;
        }

        &-subWrap{
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          width: 18vw;

          @include respond($bp-large){
            width: 22vw;
          }

          @include respond($bp-medium){
            width: 50%;
          }

          @include respond($bp-small){
            // flex-direction: column;
            width: 80%;
          }
        }
      }
    }
  }

  // Payment detail
  & .paymentDetail{
    position: relative;
    display: flex;
    flex-direction: column;

    & .paymentDetail-Container{
      display: flex;
      flex-direction: row;
      align-items: center;

      & .imageWrap-img {
        width: 17rem;
        height: 13.6rem;
        display: block;
      }

      & .product-info {
        padding-left: 2rem;

        & h1 {
          font-size: 2rem;

          @include respond($bp-small){
            font-size: 1.6rem;
          }
        }

        & .address {
          font-size: 1.8rem;
          color: $color-gray;
          line-height: 2.5rem;

          @include respond($bp-small){
            font-size: 1.4rem;
          }
        }
      }
    }

    & .daysInfoWrap {
      padding: 2rem 0;
      margin: 4rem 0;
      border-top: 0.1rem solid $color-gray;
      border-bottom: 0.1rem solid $color-gray;

      & h2 {
        font-size: 2.2rem;

        @include respond($bp-small){
          font-size: 2rem;
        }
      }

      & p {
        text-align: end;
        color: $color-gray;
        font-size: 2rem;
        font-style: italic;

        @include respond($bp-small){
          font-size: 1.6rem;
        }
      }
    }

    & .priceWrap {
      & h2 {
        font-size: 2.2rem;
      }

      & .rowWrap {
        padding: 0.5rem 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        p {
          font-size: 1.8rem;

          @include respond($bp-small){
            font-size: 1.4rem;
          }

          &.totalChange {
            font-size: 2.8rem;
            font-weight: bold;
            color: $color-primary;

            @include respond($bp-small){
              font-size: 2rem;
            }

          }
        }
      }

      & .Disclaimer {
        text-align: end;
        color: $color-gray-light1;
        font-size: 1.8rem;
      }
    }


  }

  &-backBtn{
    @include button-style($color-white,$color-primary);
    margin: 5rem 0;
    @include whSize(28rem,5rem);
    font-size: 1.8rem;
    align-self: flex-end;


    @include respond($bp-small){
      align-self: center;
    }
  }
}