.nav {
  grid-column: 1 / -1;
  padding: 2rem 5rem;
  display: grid;
  grid-template-columns: 1fr min-content;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  // position: fixed;
  // width:100%;

  @include respond($bp-medium) {
    padding: 1.5rem 2rem;
  }

  &-desktop {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 1fr min-content;

    &-item-wrap {
      display: flex;
      align-items: center;

      &-item {
        margin: 0 2rem;
        font-size: 1.8rem;
        text-decoration: none;
        color: $color-black;

        &-active{
          color: $color-primary-light;
          font-weight: bold;
        }
      }
    }

    @include respond($bp-medium) {
      display: none;
    }
  }

  &-mobile {
    display: none;

    @include respond($bp-medium) {
      grid-column: 1 / -1;

      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-menu-btn {
      background-color: transparent;
      border-width: 0;
      z-index: 99999;
      background-color: $color-white;
      border-radius: 50%;
      padding-top: 0.3rem;
      width: 4.5rem;
    }

    &-menu {
      display: none;
      // opacity: 0;

      background-image: radial-gradient($color-primary-light, $color-primary);
      position: fixed;
      top: 0;
      left: 0;
      height: 0%;
      width: 0%;
      // width: 100%;
      transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
      // transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);

      &-visible {
        display: block;
        opacity: 1;
        width: 100%;
        height: 100%;
        z-index: 9;
      }

      &-container {
        width: 100%;
        height: 30%;
        @include absCenter();

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        &-item {
          text-decoration: none;
          color: $color-white;
          font-size: 1.8rem;
          // transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);

          &-active{
            color: $color-tertiary;
          }
        }

      }

    }

  }

}
