@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,200;0,9..40,400;0,9..40,500;0,9..40,700;1,9..40,200&display=swap");

@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/base";
@import "base/animations";
@import "base/utilities";

@import "components/loadingSpinner";
@import "components/notFound";
@import "components/card";
@import "components/favorite";
@import "components/datePicker";

@import "layout/nav";
@import "layout/layoutContact";
@import "layout/footer";

@import "pages/home";
@import "pages/product";
@import "pages/detail";
@import "pages/errorPage";
@import "pages/contact";
@import "pages/sign";
@import "pages/solution";
@import "pages/profile";
@import "pages/checkout";
@import "pages/successPage"
