.spinner {
  display: inline-block;
  @include whSize(80px,80px);
  @include absCenter();
}
.spinner:after {
  content: ' ';
  display: block;
  @include whSize(64px,64px);
  margin: 8px;
  border-radius: 50%;
  @include border-style(6px, solid, $color-primary);
  border-color: $color-primary transparent $color-primary transparent;
  animation: spinner 1.2s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
